<%= form_tag("/submissions", :method => "post", :id => "new_submission", :class => "new_submission") do %>
  <div class="field">
  	<%= label_tag(:submission_content, "BAD LUCK MESSAGE*") %>
	<%= text_area(:submission, :content, :class => "required", :maxlength => "140") %>
  	<%= label_tag(:submission_content, "*Y&R reserves the right to remove any inappropriate submissions", :class => "footnote") %>
  </div>
  
  <div class="field">
  	<%= label_tag(:submission_name, "NAME") %>
  	<%= text_field(:submission, :name, :class => "required") %>
  </div>
  
  <div class="field">
  	<%= label_tag(:submission_email, "EMAIL") %>
  	<%= email_field(:submission, :email, :class => "required") %>
  </div>
  <div id="recaptcha_widget">
    <div id="recaptcha_image"></div>
    <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
    <%= label_tag(:recaptcha_response_field, "type the character you see in the picture above", :class => "footnote") %>
    
    <div id="recaptcha_bttn">    	
    	<a id="recaptcha_reload" href="javascript:Recaptcha.reload()">
    		<img id="recaptcha_reload" width="25" height="18" alt="Get a new challenge" src="http://www.google.com/recaptcha/api/img/clean/refresh.png">
    	</a>
    	<a href="javascript:Recaptcha.switch_type('audio')">
    		<img id="recaptcha_switch_audio" class="recaptcha_only_if_image" width="25" height="15" alt="Get an audio challenge" src="http://www.google.com/recaptcha/api/img/clean/audio.png">
    	</a>
  		<a href="javascript:Recaptcha.switch_type('image')">
  			<img id="recaptcha_switch_img" class="recaptcha_only_if_audio" width="25" height="15" alt="Get a visual challenge" src="http://www.google.com/recaptcha/api/img/clean/text.png">
  		</a>
  	</div>
  </div>

  <%= recaptcha_tags :display => {:theme => 'custom', :custom_theme_widget => 'recaptcha_widget'} %>
  
  <div class="actions">
  	<%= submit_tag("CLEAR", {:name => "reset", :id => "reset_button", :type => "reset" }) %>
  	<%= submit_tag("SUBMIT", :id => "submit_button") %>
  </div>
  
  <p id="notice"><%= notice %></p>
<% end %>