<%= form_tag("/submissions", :method => "post", :id => "new_submission", :class => "new_submission") do %>
  <div class="field">
  	<%= label_tag(:submission_content, "BAD LUCK MESSAGE*") %>
	<%= text_area(:submission, :content, :class => "required", :maxlength => "140") %>
  	<!--%= label_tag(:submission_content, "*Y&R reserves the right to remove any inappropriate submissions") %-->
  </div>
  
  <div class="field">
  	<%= label_tag(:submission_name, "NAME") %>
  	<%= text_field(:submission, :name, :class => "required") %>
  </div>
  
  <div class="field">
  	<%= label_tag(:submission_email, "EMAIL") %>
  	<%= email_field(:submission, :email, :class => "required") %>
  </div>
  <div id="recaptcha_widget">
    <div id="recaptcha_image"></div>
    <%= label_tag(:recaptcha_response_field, "R U HUMAN?") %>
    <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
    <a id="recaptcha_reload" href="javascript:Recaptcha.reload()">RELOAD</a>
  </div>

  <%= recaptcha_tags :display => {:theme => 'custom', :custom_theme_widget => 'recaptcha_widget'} %>
  
  <div class="actions">
  	<%= submit_tag("CLEAR", {:name => "reset", :id => "reset_button", :type => "reset" }) %>
  	<%= submit_tag("SUBMIT", :id => "submit_button") %>
  </div>
  
  <p id="notice"><%= notice %></p>
<% end %>