<% @submissions.each do |submission| %>
	<div id="now" class="dl">
		<b><%= submission.name %></b>
		<p style="display:none;"><%= submission.id %></p>
		<p class="dd edit"><%= submission.content %></p>
		<div id="soc-button-share"><%= link_to 'Share', submission, :id => "share" %></div>

    	<% if request.fullpath == "/admin" %>
    		<script>
			$('.dd.edit').editable('/submissions/<%=submission.id%>', 
    				{
    					name   : "submission[content]",
        				type   : 'textarea',
        				select : true,
        				submit : 'OK',
        				cancel : 'CANCEL',
        				submitdata:         
        			{
        				_method: "put", 
        				"submission[email]": "<%=submission.email%>",
        				"submission[name]": "<%=submission.name%>",
        				authenticity_token: AUTH_TOKEN
        			}
    		});
			</script>
    		<dd><%= link_to 'Delete', submission, method: :delete %></dd>
  		<% end %>
  	</div>
<% end %>