<div id="main">
	<section id="thx-link" class="pad15">
			<h2>THANK YOU</h2>

			<p>Thank you for submitting your bad luck.</p>
			<p>
				Now that your bad luck is going to be burnt away, help
				your friends burn their bad luck. Share.
			</p>
			
			<p><i>Bad Luck Burning Team</i></p>

			<div id="soc-button">
				<%= image_tag("share_button.png", :alt => "Share FB", :id => "share_button", :class => "round") %>
			
	        	<a href="https://twitter.com/share" class="twitter-share-button" 
	        	data-text="I'm burning my bad luck. Are you?" 
	        	data-hashtags="burnbadluck" data-url="http://burnbadluck.com/" 
	        	data-lang="en">Tweet</a>
	        </div>
	</section>
	<div id="about-link" class="normal-pop">
		<!--h2><a id='test' href='http://localhost:3000/about'>ABOUT</a></h2>
		<a id='test' href='/about'></a-->
	</div>
	<div id="new-submission-div" class="pad15">
		<img id="submit-text" src="/assets/submit-text.png"/>
		<p id="toggle">CLICK TO SHOW/HIDE</p>
		<%= render 'form' %>
	</div>
	
	<br />

	<div id ="list-submission">
		<% @submissions.reverse_each do |submission| %>
  		<dl>
			<dt><%= submission.name %></dt>
  			<dd><%= submission.email %></dd>
    		<dd><%= submission.content %></dd>
    		<dd><%= image_tag("share_button.png", :alt => submission.id, :id => "share_button_", :class => "round") %></dd>
    		<dd><a href="https://twitter.com/share" class="twitter-share-button" 
	        	data-text="I'm burning my bad luck. Are you?" 
	        	data-hashtags="burnbadluck" data-url="http://burnbadluck.com/submissions/<%= submission.id %>" 
	        	data-lang="en">Tweet</a></dd>
    		<!--td><%= link_to 'Show', submission %></td-->
    		<dd class='adm'><%= link_to 'Edit', edit_submission_path(submission)%></dd>
    		<dd class='adm'><%= link_to 'Destroy', submission, confirm: 'Are you sure?', method: :delete %></dd>
  		</dl>
  		<% end %>
	</div>
	<br />
</div>

<div id="timer">
	COUNTDOWN TIMER
	<div id="counter"></div>
	TO LUNAR NEW YEAR	
</div>