<div id="main">
	<section id="thx-link" class="pad15">
			<img alt="Burn Bad Luck" id="logo" src="/assets/logo2.png" width="100" height="100"><br/><br/>
			<%= image_tag("thankbad.png", :alt => "Thanks", :id => "thanks_bad" , :class => "thanksbad") %><br/>

			<span>Here’s your bad luck waiting to be incinerated:</span><br>
			<span id="thx-content" ></span><br/><br/>
			
			<span>
				You are going to be damn lucky. So don’t jinx it by being greedy. Good things
				must be shared. Tell a friend about us.
			</span><br/><br/>
			
			<span>
				Auspicious Time For Incineration: 21 January, Saturday, 8 pm Vietnam, 9 pm Singapore.
			</span><br/><br>
			
			<span class="right team"><i>Bad Luck Burning Team</i></span>
			
			<div id="soc-button-thx">
				<%= image_tag("fbshare.png", :alt => "Share FB", :id => "share_button_head" , :class => "share_button share_button2") %>
	 			<iframe allowtransparency="true" frameborder="0" scrolling="no"
        		src="//platform.twitter.com/widgets/tweet_button.html?count=none&text=Bad%20luck%20haunting%20you?%20Seek%20professional%20help%20at&url=http%3A%2F%2Fwww.burnbadluck.com&hashtags=burnbadluck"
        		style="width:60px; height:20px;"></iframe>

				<div class="addthis_toolbox addthis_default_style ">
				<a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4f109f98300e17b5" class="addthis_button_compact"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f109f98300e17b5"></script>
	 		</div>
	</section>
	<div id="new-submission-div" class="pad15">
		<p><%= flash[:error] %></p>
		<div id="bef_toggle">
			<!--p id="thx">Test</p-->
			<!--div id="h1">SUBMIT YOUR BAD LUCK</div>
			<div id="h3">START LUCKY FOR THE LUNAR NEW YEAR</div-->
			<img id="submit-text" src="/assets/submit-text.png">
			<p id="toggle_open">CLICK HERE</p>
		</div>
		
		
		<%= image_tag("close.png", :alt => "Close", :id => "toggle_close") %>
		<%= render 'form' %>
	</div>

	<div id ="list-submission">
	    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
		<!--%= will_paginate %-->
		<%= render(:partial => "submission") %>
  		<% if request.fullpath == "/" %>
  			<%= will_paginate(@submissions) %>
  			<script src="/javascripts/jquery.pageless.js?body=1" type="text/javascript"></script>
  			<script>
  				$('#list-submission').pageless({ totalPages: 10,
                                     url: '/submissions/',
                                     loaderMsg: 'Loading more results'
   				});
  			</script>
  		<% end %>
	</div>
	<br /><br/>
</div>

<!--div id="timer">
	COUNTDOWN TIMER
	<div id="counter"></div>
	TO LUNAR NEW YEAR	
</div-->