<div id="main">
	<section id="thx-link" class="pad15">
			<img alt="Burn Bad Luck" id="logo" src="/assets/logo.png" width="140" height="140"><br/>
			<h2>Thank you for submitting your bad luck.</h2>
			
			Here’s your message:
			<p id="thx-content" ></p>
			
			<p>
				Now that your bad luck is going to be burnt away, help
				your friends burn their bad luck. Share.
			</p>
			
			<p class="right team"><i>Bad Luck Burning Team</i></p>
			
			<div id="soc-button-thx">
	 			<%= image_tag("fbshare.png", :alt => "Share FB", :id => "share_button_head" , :class => "share_button share_button2") %>
	 			<iframe allowtransparency="true" frameborder="0" scrolling="no"
        		src="//platform.twitter.com/widgets/tweet_button.html?count=none&text=My%20bad%20luck%20is%20waiting%20to%20be%20burnt%20to%20a%20crisp.%20Don't%20let%20yours%20follow%20you%20into%20the%20new%20year.%20Submit%20and%20watch%20it%20burnt%20at&url=http%3A%2F%2Fwww.burnbadluck.com&hashtags=burnbadluck"
        		style="width:60px; height:20px;"></iframe>

	 			<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_counter addthis_pill_style"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f0e9b6015fb6640"></script>
				<!-- AddThis Button END -->
	 		</div>
	</section>
	<div id="new-submission-div" class="pad15">
		<p><%= flash[:error] %></p>
		<div id="bef_toggle">
			<!--p id="thx">Test</p-->
			<!--div id="h1">SUBMIT YOUR BAD LUCK</div>
			<div id="h3">START LUCKY FOR THE LUNAR NEW YEAR</div-->
			<img id="submit-text" src="/assets/submit-text.png">
			<p id="toggle_open">CLICK HERE</p>
		</div>
		
		
		<%= image_tag("close.png", :alt => "Close", :id => "toggle_close") %>
		<%= render 'form' %>
	</div>

	<div id ="list-submission">
	
		<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
		
		<% @submissions.reverse_each do |submission| %>
  		<div class="dl">
		<b><%= submission.name %></b>
		<p style="display:none;"><%= submission.id %></p>
		<p class="dd edit"><%= submission.content %></p>
		<p id="soc-button-share">
	 			<%= image_tag("fbshare.png", :alt => "Share FB", :id => "share_button_head" , :class => "share_button share_button2") %>
	 			<iframe allowtransparency="true" frameborder="0" scrolling="no"
        		src="//platform.twitter.com/widgets/tweet_button.html?count=none&text=My%20bad%20luck%20is%20waiting%20to%20be%20burnt%20to%20a%20crisp.%20Don't%20let%20yours%20follow%20you%20into%20the%20new%20year.%20Submit%20and%20watch%20it%20burnt%20at&url=http%3A%2F%2Fwww.burnbadluck.com&hashtags=burnbadluck"
        		style="width:60px; height:20px;"></iframe>

	 			<!--AddThis Button BEGIN-->
				<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_counter addthis_pill_style"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f0e9b6015fb6640"></script>
				<!--AddThis Button END-->
	 		</p>
	 		
    		<% if request.fullpath == "/admin" %>
    			<script>
				$('.dd.edit').editable('/submissions/<%=submission.id%>', 
    			{
    				name   : "submission[content]",
        			type   : 'textarea',
        			select : true,
        			submit : 'OK',
        			cancel : 'CANCEL',
        			submitdata:         
        			{
        				_method: "put", 
        				"submission[email]": "<%=submission.email%>",
        				"submission[name]": "<%=submission.name%>",
        				authenticity_token: AUTH_TOKEN
        			}
    			});
				</script>
    			<dd><%= link_to 'Delete', submission, method: :delete %></dd>
  			<% end %>
  		</div>
  		<% end %>
	</div>
	<br /><br/>
</div>

<!--div id="timer">
	COUNTDOWN TIMER
	<div id="counter"></div>
	TO LUNAR NEW YEAR	
</div-->