<div id="main">
	<section id="thx-link">
			<p>LOGO</p> 
			<p>THANK YOU FOR SUBMITTING YOUR BAD LUCK</p>

			Here’s your message:
			<p id="thx-content" ></p>
			<p>
				Since your bad luck is full of more bad luck, 
				it needs to be burnt on the right day. 
				Thankfully that day is right around the corner. 
				Check back on our website the midnight before the Lunar New Year 
				to watch your bad luck burn!
			</p>
			<p> Click on the link below to view your bad luck </p>
			<p><a href='submissions/'>CLICK HERE</a></p>

			<p>Sincerely yours, Bad Luck Burning Team</p>

			<div id="soc-button">
	        	<a href="https://twitter.com/share" class="twitter-share-button" 
	        	data-text="I'm burning my bad luck. Are you?" 
	        	data-hashtags="burnbadluck" data-url="http://burnbadluck.herokuapp.com/submissions/" 
	        	data-lang="en">Tweet</a>
	        </div>
		</section>
	<div id="about-link" class="normal-pop">
		<!--h2><a id='test' href='http://localhost:3000/about'>ABOUT</a></h2>
		<a id='test' href='/about'></a-->
	</div>
	<div id ="new-submission">
		<img id="submit-text" src="/assets/submit-text.png"/>
		<%= render 'form' %>
	</div>
	
	<br />

	<div id ="list-submission">
		<% @submissions.reverse_each do |submission| %>
  		<dl>
			<dt><%= submission.name %></dt>
  			<dd><%= submission.email %></dd>
    		<dd><%= submission.content %></dd>
    		<!--td><%= link_to 'Show', submission %></td>
    		<td><%= link_to 'Edit', edit_submission_path(submission) %></td-->
    		<dd><%= link_to 'Destroy', submission, confirm: 'Are you sure?', method: :delete %></dd>
  		</dl>
  		<% end %>
	</div>
	<br />
</div>

<div id="timer">
	COUNTDOWN TIMER
	<div id="counter"></div>
	TO LUNAR NEW YEAR	
</div>