<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
     xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Burn Bad Luck</title>
  <%= stylesheet_link_tag    "application" %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
  
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>  
  
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">
  	var ip;	
	
  	$(function(){
  		//var challenge = Recaptcha.get_challenge();
  		//var response = Recaptcha.get_response();
  		/*$.getJSON("http://jsonip.appspot.com?callback=?",function(data){
  			ip = data.ip;
		});*/
  		
  		Recaptcha.create("6LfmJMwSAAAAACHiWF9-GIBaVSP6uTqFyY9HoCFw", "captcha", 
  		{
  			theme: "clean",
        	callback: Recaptcha.focus_response_field
    	});
    	
    	$('#cap').click(function(e){ 
    		$.ajax(
    		{
    			type: "POST",
  				url: 'http://www.google.com/recaptcha/api/verify',
  				data:
  				{
  					privatekey:'6LfmJMwSAAAAAF-XT0qsR_vU1K_XxT4ufuSMWmAS',
  					remoteip:ip,
  					challenge:Recaptcha.get_challenge(),
  					response:Recaptcha.get_response()
  				},
  				dataType: "jsonp"
		    });		
    	});
    });
    
  </script>
</head>
<body>
	<div id="fb-root"></div>
	<script>
window.fbAsyncInit = function() {
FB.init({appId: '342304519131396', status: true, cookie: true,
xfbml: true});
};
(function() {
var e = document.createElement('script'); e.async = true;
e.src = document.location.protocol +
'//connect.facebook.net/en_US/all.js';
document.getElementById('fb-root').appendChild(e);
}());
</script>
	<div class="container">  
  	 <div id="logo"><%= image_tag("logo.png", :alt => "Sample App", :class => "round") %></div>
		
	 <%= image_tag("share_button.png", :alt => "Share FB", :class => "round share_button") %>
	 <div id="twitter">
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Burn your bad luck with us NAO!" data-hashtags="burnbadluck" data-url="http://www.burnbadluck.com" data-lang="en">Tweet</a>
	 </div>
	 
	 <div id="dragonR"></div>	 
	 <div id="dragonL"></div>
	 
	 <!--div class="fb-like" data-href="http://www.facebook.com/heydiaspora" data-send="false" data-layout="button_count" 	data-width="30" data-show-faces="false"></div-->
	 
	 <div id="section">
	 	<%= yield %>
	 </div>
	<footer>
		<%= image_tag("footer.png", :alt => "Footer") %>	
	</footer>
    </div>
</body>
</html>