<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
     xmlns:fb="https://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Article">
<head>
  <title>Burn Bad Luck</title>
  <meta name="viewport" content="width=1000" />
  <meta property="og:title" content="Burn Bad Luck" />
  <meta property="og:image" content="https://lh3.googleusercontent.com/-eZ9ZbcEVw7w/TxC0zy-vDiI/AAAAAAAAANo/Gm5TW_RW6f4/s800/fbavatar.jpg" />
  
  <!-- Add the following three tags inside head -->
  <meta itemprop="name" content="Burn Bad Luck" />
  <meta itemprop="image" content="https://lh3.googleusercontent.com/-eZ9ZbcEVw7w/TxC0zy-vDiI/AAAAAAAAANo/Gm5TW_RW6f4/s800/fbavatar.jpg" />
    
  <%= stylesheet_link_tag    "application" %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
  
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>  
  
  <%= javascript_include_tag "application" %>
  <script>
  	// this is for GANALYTICS
	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-28207206-1']);
  	_gaq.push(['_trackPageview']);
 
	(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();	
  </script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f109f98300e17b5"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init(
			{
				appId: '342304519131396', 
				status: true, 
				cookie: true,
				xfbml: true
			});
		};

		(function() {
			var e = document.createElement('script'); e.async = true;
			e.src = document.location.protocol +
			'//connect.facebook.net/en_US/all.js';
			document.getElementById('fb-root').appendChild(e);
		}());
	</script>
	<div class="container"> 
		   <header>
			  <nav>
				  <%= image_tag("logo.png", :alt => "Burn Bad Luck", :id => "logo") %>
				  <%= image_tag("about-rope.png", :alt => "About Page", :id => "about-link" , :class => "normal-pop") %>
				  <!--div id="about-link" class="normal-pop"></div-->  	 		
				  <div id="soc-button-head">
					  <%= image_tag("fbshare.png", :alt => "Share FB", :id => "share_button_head" , :class => "share_button share_button2") %>
					  <iframe allowtransparency="true" frameborder="0" scrolling="no"
					  src="//platform.twitter.com/widgets/tweet_button.html?count=none&text=Bad%20luck%20haunting%20you?%20Seek%20professional%20help%20at&url=http%3A%2F%2Fwww.burnbadluck.com&hashtags=burnbadluck"
					  style="width:60px; height:20px;margin-top:3px"></iframe>
	  
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4f109f98300e17b5" class="addthis_button_compact"></a>
					</div>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f109f98300e17b5"></script>
					<!-- AddThis Button END -->
				  </div> 	 		
			  </nav>
		  </header>
		  <!--div class="section"-->
			  <!--div id="text_cny"></div-->
			  <div id="cny_countdown"></div>
			  <div id="dragonR"></div>	 
			  <div id="dragonL"></div>
			  <%= yield %>
			<div class="bottom">
				<%= image_tag("footer.png", :alt => "Footer") %>	
			</div>
		   <!--/div-->

			
		  <!--footer>
			  
		  </footer>
	</div>
</body>
</html>