<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
     xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Burn Bad Luck</title>
  <%= stylesheet_link_tag    "application" %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
  
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>  
  
  <%= javascript_include_tag "application" %>
  <script>
  	// this is for GANALYTICS
	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-28207206-1']);
  	_gaq.push(['_trackPageview']);
 
	(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();	
  </script>  
  <%= csrf_meta_tags %>
  
  <!--script type="text/javascript">
  	var ip;	
	
  	$(function(){
  		//var challenge = Recaptcha.get_challenge();
  		//var response = Recaptcha.get_response();
  		/*$.getJSON("http://jsonip.appspot.com?callback=?",function(data){
  			ip = data.ip;
		});*/
  		
  		Recaptcha.create("6LfmJMwSAAAAACHiWF9-GIBaVSP6uTqFyY9HoCFw", "captcha", 
  		{
  			theme: "clean",
        	callback: Recaptcha.focus_response_field
    	});
    });
    
  </script-->
</head>
<body>
	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init(
			{
				appId: '342304519131396', 
				status: true, 
				cookie: true,
				xfbml: true
			});
		};

		(function() {
			var e = document.createElement('script'); e.async = true;
			e.src = document.location.protocol +
			'//connect.facebook.net/en_US/all.js';
			document.getElementById('fb-root').appendChild(e);
		}());
	</script>
	<div class="container">  
  	 <div id="logo"><%= image_tag("logo.png", :alt => "Sample App", :class => "round") %></div>
	
	 <div id="soc-button-head">
	 	<%= image_tag("fbb.png", :alt => "Share FB", :id => "share_button_head" , :class => "share_button share_button2") %>
	 	<a href="https://twitter.com/share" class="twitter-share-button2" data-text="Burn your bad luck with us NAO!" data-hashtags="burnbadluck" data-url="http://www.burnbadluck.com" data-lang="en"><img src="/assets/tb.png"></a>
	 </div>
	 
	 <div id="dragonR"></div>	 
	 <div id="dragonL"></div>
	 
	 <!--div class="fb-like" data-href="http://www.facebook.com/heydiaspora" data-send="false" data-layout="button_count" 	data-width="30" data-show-faces="false"></div-->
	 
	 <div class="section">
	 	<%= yield %>
	 </div>
	<footer>
		<%= image_tag("footer.png", :alt => "Footer") %>	
	</footer>
    </div>
</body>
</html>