<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
     xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Burn Bad Luck || Start Lucky for Dragon</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=1000" />
  <meta name="description" content="Lunar New Year is coming. Don’t let your bad luck follow you into the
New Year. Submit your bad luck and watch it burn to start your lucky
New Year.">
  <meta name="keywords" content="Burn, bad, luck, Lunar, New, Year, Tet, Dragon, watch, start, good, Y&R, Asia, China, Thailand, Vietnam, Taiwan, Singapore, Malaysia, message, unfortunate, unlucky, wish, fortune, wealth, health, gold, fire, Young & Rubicam, wpp, get, rid, of, midnight, share, burnt, flames, incinerate">
  
  <meta property="og:title" content="Burn Bad Luck" />
  <meta property="og:image" content="https://lh3.googleusercontent.com/-eZ9ZbcEVw7w/TxC0zy-vDiI/AAAAAAAAANo/Gm5TW_RW6f4/s800/fbavatar.jpg" />
  
  <!-- Add the following three tags inside head -->
  <meta itemprop="name" content="Burn Bad Luck" />
  <meta itemprop="description" content="Lunar New Year is coming. Don’t let your bad luck follow you into the
New Year. Submit your bad luck and watch it burn to start your lucky
New Year." /> 
  <meta itemprop="image" content="https://lh3.googleusercontent.com/-eZ9ZbcEVw7w/TxC0zy-vDiI/AAAAAAAAANo/Gm5TW_RW6f4/s800/fbavatar.jpg" />
  
  <%= stylesheet_link_tag    "application" %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
  
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>  
  
  <%= javascript_include_tag "application" %>
  <script>
  	// this is for GANALYTICS
	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-28207206-1']);
  	_gaq.push(['_trackPageview']);
 
	(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();	
  </script>  
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container2">
		<header>
			<nav>
				<a href="/">
					<%= image_tag("logo.png", :alt => "Burn Bad Luck", :class => "logo-static") %>
					<%= image_tag("submit.png", :alt => "Submit Your Badluck", :id => "submithome") %>
				</a>
			</nav>
		</header>
		
			<%= yield %>
		<div class="bottom2">
			<%= image_tag("footer.png", :alt => "Footer") %>	
		  </div>

		<!--test comment-->
	</div>
</body>
</html>